N8n/Git-push-new-workflows.json
{
  "createdAt": "2025-10-07T06:26:41.212Z",
  "updatedAt": "2025-10-07T19:40:21.000Z",
  "id": "zRxTDArAoTD7sZDt",
  "name": "Git-push-new-workflows",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        208,
        -240
      ],
      "id": "445075d8-6045-49aa-b734-e3370573040a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        432,
        -144
      ],
      "id": "846c899b-a6e5-4ae7-93db-40a8de560842",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "lFnLWR5AUb6JBJXn",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "n70arun",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "https://github.com/n70arun/Repository-learn",
          "mode": "url"
        },
        "filePath": "=N8n/{{ $json.name }}.json",
        "fileContent": "={{ JSON.stringify($json, null, 2) }}",
        "commitMessage": "=adding {{ $json.name }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        880,
        -240
      ],
      "id": "42079719-54fe-4954-ad0b-a0288af3b321",
      "name": "Create a file",
      "webhookId": "6b1e97a6-6bdd-4105-a2ff-e92fc76d848e",
      "credentials": {
        "githubApi": {
          "id": "kyhWlbwAWN7J7ggO",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        208,
        -48
      ],
      "id": "cd68effc-7fef-4641-b692-f6683459686b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "n70arun",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "https://github.com/n70arun/Repository-learn",
          "mode": "url"
        },
        "filePath": "={{\"N8n/\" + $json.name + \".json\"}}",
        "fileContent": "={{ JSON.stringify($json, null, 2) }}",
        "commitMessage": "={{ \"Updating \" + $json.name }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        880,
        -48
      ],
      "id": "ac60d9f3-19d1-4a7c-9aae-890c30108c29",
      "name": "Edit a file",
      "webhookId": "dd7203e7-e92a-4fdf-bfe1-2bd91b9545f5",
      "credentials": {
        "githubApi": {
          "id": "kyhWlbwAWN7J7ggO",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ new Date($json.updatedAt).getTime() === new Date($json.createdAt).getTime() }}\n",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "7b052ad4-f457-4b82-bea5-594a23153c9f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "New"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "77471518-164a-48b6-9e08-3ba46ceb9732",
                    "leftValue": "={{ new Date($json.updatedAt).getTime() === new Date($json.createdAt).getTime() }}\n",
                    "rightValue": "=false",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Update"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        656,
        -144
      ],
      "id": "d0fce673-dbdc-412b-a269-283367358df6",
      "name": "Switch"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a5c73670-75b9-4595-a7d8-375892879c31",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-10-07T06:26:41.224Z",
      "updatedAt": "2025-10-07T06:26:41.224Z",
      "role": "workflow:owner",
      "workflowId": "zRxTDArAoTD7sZDt",
      "projectId": "FI2Vem6GWSxajvuY"
    }
  ],
  "tags": []
}